@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #310f22;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 80px;
    background: #411b36;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.5s;
}

header .logo {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}

header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin: 10px;
}

header ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

header ul li a:hover {
    background: #ef1a7d;
    color: #310f22;
    box-shadow: 0 0 10px #ef1a7d;
}

header .action .searchBx {
    padding: 5px;
    margin: 5px;
    background: white;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .action .searcBx i {
    font-size: 1.4em;
    margin: 5px;
    color: #310f22;
}

header .action .searchBx input {
    outline: none;
    border: none;
    font-size: 1em;
    color: #310f22;
}

/*BANNER*/

.banner {
    position: relative;
    width: 100%;
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.banner .bg {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Centra el texto */
}

.banner .bg .content {
    width: 50%;
    /* Reduce el ancho del contenido para posicionarlo mejor */
    text-align: left;
    /* Alinea el texto a la izquierda */
    margin-left: 10%;
    /* Mueve el contenido hacia la izquierda */
}

.banner .bg .content h2 {
    font-size: 4em;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.banner .bg .content p {
    font-size: 1em;
    color: #dbd9d9;
    letter-spacing: 1px;
}

.banner .bg .content a {
    display: inline-block;
    padding: 10px 20px;
    background: #5f0c33;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0 0 10px #ef1a7d;
}

.banner .bg .content a:hover {
    background: #ef1a7d;
    border: none;
    color: #050e2d;
}

.banner .bg img {
    width: 600px;
    /* Reduce el tamaño de la imagen */
    height: auto;
    /* Mantén la proporción original */
    object-fit: contain;
}

/* ABOUT US */

.about {
    position: relative;
    width: 100%;
    min-height: 75vh;
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: center;
}

.about .contentBx {
    width: 50%;
    margin: 20px;
}

.about .contentBx h2 {
    font-size: 3em;
    font-weight: 700;
    color: white;
}

.about .contentBx p {
    max-width: 600px;
    text-align: justify;
    color: #dbd9d9;
}

.about .bg .content a {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0px;
    border: 1px solid #5f0c33;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
}

.about .bg .content a:hover {
    background: #ef1a7d;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #ef1a7d;
}

.about .bg img {
    width: 250px;
    /* Reduce el tamaño de la imagen */
    height: auto;
    /* Mantén la proporción original */
    object-fit: contain;
}