@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #310f22;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 12px;
    /* 10px */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #ef1a7d);
    border-radius: 6px;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.4375rem 5rem;
    /* 7px 80px */
    background: #411b36;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.5s;
}

header .logo {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    /* 32px */
    font-weight: 700;
}

header .nav {
    display: flex;
    align-items: center;
}

header ul li {
    list-style: none;
    margin: 0.625rem;
    /* 10px */
}

header ul li a {
    color: white;
    text-decoration: none;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
    border-radius: 0.3125rem;
    /* 5px */
}

header ul li a:hover {
    background: #ef1a7d;
    color: #310f22;
    box-shadow: 0 0 0.625rem #ef1a7d;
    /* 10px */
}

header .action .searchBx {
    padding: 0.3125rem;
    /* 5px */
    margin: 0.3125rem;
    /* 5px */
    background: white;
    border-radius: 0.3125rem;
    /* 5px */
    display: flex;
    align-items: center;
}

header .action .searchBx i {
    font-size: 1.4rem;
    /* 22.4px */
    margin: 0.3125rem;
    /* 5px */
    color: #310f22;
}

header .action .searchBx input {
    outline: none;
    border: none;
    font-size: 1rem;
    color: #310f22;
}

/* Banner */
.banner {
    width: 100%;
    min-height: 25vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.banner .bg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .bg .content {
    width: 50%;
    text-align: left;
    margin-left: 10%;
}

.banner .bg .content h2 {
    font-size: 4rem;
    /* 64px */
    color: white;
    letter-spacing: 0.0625rem;
    /* 1px */
    margin-bottom: 1.25rem;
    /* 20px */
}

.banner .bg .content p {
    font-size: 1rem;
    color: #dbd9d9;
}

.banner .bg img {
    width: 37.5rem;
    /* 600px */
    height: auto;
    object-fit: contain;
}

/* About Section */
.about {
    display: flex;
    padding: 0 6.25rem;
    /* 100px */
    align-items: center;
    gap: 1rem;
}

.about .contentBx {
    width: 50%;
}

.about .contentBx h2 {
    font-size: 3rem;
    /* 48px */
    font-weight: 700;
    color: white;
}

.about .contentBx p {
    color: #dbd9d9;
    text-align: justify;
}

.about .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #ef1a7d;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
}

.about .contentBx a :hover {
    background: #ef1a7d;
    border: none;
    color: #310f22;
    box-shadow: 0 0 10px #ef1a7d;
}

.about img {
    width: 15.625rem;
    /* 250px */
    height: auto;
    object-fit: contain;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
    background: #5f0c33;
    color: white;
    text-decoration: none;
    border-radius: 0.3125rem;
    /* 5px */
    margin-top: 1.25rem;
    /* 20px */
    box-shadow: 0 0 0.625rem #ef1a7d;
    /* 10px */
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    /* 1px */
}

.btn:hover {
    background: #ef1a7d;
    color: #050e2d;
}

/* GAMES Section */

.games {
    padding: 0px 100px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
}

.games h2 {
    color: white;
    margin: 10px 0;
}

.games ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.games ul li {
    list-style: none;
    padding: 10 px 20px;
    border-radius: 5px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
}

.games ul li .active {
    background: #ef1a7d;
    color: #310f22;
    box-shadow: 0 0 10px #ef1a7d;
}

.games .cardBx {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.games .cardBx .card {
    width: 280px;
    margin: 20px;
    background: #310f22;
    border-radius: 10px;
    overflow: hidden;
}

.games .cardBx .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.games .cardBx .card .content {
    padding: 10px;
}

.games .cardBx .card .content h4 {
    color: white;
    margin: 15px 0;
}

.games .cardBx .card .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background: #310f22;
    border-radius: 10px;
    transform: scaleX(2);
    transform-origin: left;
    animation: animate 2s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.games .cardBx .card .progress-line span {
    position: absolute;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background: #ef1a7d;
    box-shadow: 0 0 10px #ef1a7d;
    transform-origin: left;
    animation: animate 2s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.games .cardBx .card .info {
    border-top: 2px solid #ef1a7d;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.games .cardBx .card .info p {
    font-size: 1em;
    color: white;
}

.games .cardBx .card .info p span {
    color: #ef1a7d;
}

.games .cardBx .card .info a {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #ef1a7d;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    letter-spacing: 1px;
}

.games .cardBx .card .info a :hover {
    background: #ef1a7d;
    border: none;
    color: #310f22;
    box-shadow: 0 0 10px #ef1a7d;
}